.events-menu-button{
    font-size: 1.6vw;top:88vh;left:94vw;position:fixed;color:white;cursor: pointer;;font-weight:bold;
  }
  .events-ring {
    position: fixed;
    top:89.3vh;left:94.6vw;
    width: 5px; /* Set the desired width of the circle */
    height: 5px; /* Set the desired height of the circle */
    border-radius: 50%;
    box-sizing: border-box; 
    cursor: pointer;
  }
  .events-page-background{
    background: url("../images/icons/register_bg.webp") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
  }
  .events-page-header{
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: bold; 
    color:transparent;
    -webkit-text-stroke: 0.1px #fff;
    background: url("../images/icons/back.webp") center/cover;
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
  }
  .events-page-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 15vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
  }
  @media (prefers-reduced-motion: no-preference) {
    .events-ring{
      animation: events-ring-spin infinite 2.5s linear;
    }
    }
    @keyframes events-ring-spin {
        0% {
          transform:  scale(1) ;
          opacity: 0;
          outline:  white;
        }
        50% {
          transform:  scale(7) ;
          opacity: 1;
          border: 0.1px solid white;
        }
        100% {
          transform:  scale(10) ;
          opacity: 0;
          border: 0.1px solid white;
        }
      }