.register-page-form{
    margin-left: 27vw;width: 47vw;margin-top: 10vw;background-color: rgba(255, 255, 255, 0.504)!important; margin-bottom: 4vw;
  }
  .register-page-header{
font-size: 3vw;text-decoration: underline;font-weight: 550;margin-top: 7vw;text-align: center;
color:transparent;
-webkit-text-stroke: 0.1px #fff;
background: url("../images/icons/back.webp") center/cover ;

-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
    }
  .register-page-label{
    font-size: 1.3vw;font-family: Poppins;font-weight: 550;margin-top: 2vw;margin-left: 2vw;color: white;
    animation: card-content  2s , cursor .5s step-end infinite alternate; 
  }
  .register-page-inp1{
    font-size: 1vw;font-family: Poppins;  border: 0;
       outline: 0;color: rgba(226, 215, 215, 0.982);
       border-bottom: 2px solid white;width :20vw;margin-left: 2vw;background-color: rgba(34, 183, 175, 0.03);
     }
  .register-page-inp{
 font-size: 1vw;font-family: Poppins;  border: 0;color: rgba(226, 215, 215, 0.982);
    outline: 0;
    border-bottom: 2px solid white;width :42vw;margin-left: 2vw;background-color: rgba(34, 183, 175, 0.1);
  }
  .register-page-container{
    display: flex;
  }
  .register-page-top-container{
    display: flex;
  }
  .register-page-button{
    margin-top: 1.5vw;margin-bottom: 2vw;font-size: 1.5vw;color: white;
    margin-left: 37vw;  width: 7vw;cursor: pointer;box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  }
  .register-page-back{
    position: absolute;top:3%;left: 87%;text-decoration: underline;font-size: 1.2vw;color: white;
  }
  .register-page-back:hover{
    color:rgb(34, 183, 175);cursor: pointer;
  }
  @keyframes card-content {
    from{width: 0%;}
    to{width: 100%;}
   }
   @keyframes cursor {
    50%{border-color: transparent;}
   }