.App {
  text-align: center;
  min-height: 400vh;
  width:100vw;
}

.App-logo {
  height:6vw;width:6vw;top:7vh;left:4vw;position:absolute;
}
.App-menu-button{
  font-size: 1.6vw;top:86vh;left:94%;position:absolute;color:white;font-weight:bold;
}
.App-scroll-button{
  font-size: 1.6vw;top:86%;left:49%;position:absolute;color:white;font-weight:bold;
}
.App-scroll{
  font-size: 1.6vw;top:90%;text-align: center;position:absolute;color:white;font-weight:bold;
}
.App-menu-button:hover{
  color:skyblue;cursor: pointer;
}
.App-scroll-button:hover{
  color:skyblue;cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
  .App-menu-button{
    animation: App-button-spin infinite 1s linear;
  }
  .App-scroll-button{
    animation: App-scroll-button-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top:0;
  position:sticky;
  width:100vw;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: translateY(0vh) scale(1)
  }
  to {
    transform: translateY(-2vh) scale(1.5)
  }
}
@keyframes App-button-spin {
  from {
    transform: translateY(0vh) scale(1)
  }
  to {
    transform: translateY(-1vh) scale(1.5)
  }
}
@keyframes App-scroll-button-spin {
  from {
    transform: translateY(0vh) scale(1)
  }
  to {
    transform: translateY(-1vh) scale(1.5)
  }
}

@media (max-width: 1050px) {
  .App-logo {
    height:9vw;width:9vw;top:5vh;left:4vw;
  }
  .App-menu-button{
    font-size:2vw;
  }
  .App-scroll-button{
    font-size:2vw;
  }
  .App-scroll{
    font-size:2vw;
}
}
@media (max-width: 750px) {
  .App-logo {
    height:12vw;width:12vw;top:5vh;left:4vw;
  }
  .App-menu-button{
    font-size:3vw;top:86vh;left:94%;position:absolute;color:white;font-weight:bold;
  }
  .App-scroll-button{
    font-size:3vw;
  }
  .App-scroll{
    font-size:3vw;
}
}
@media (max-width: 500px) {
  .App-logo {
    height:14vw;width:14vw;top:5vh;left:4vw;
  }
  .App-menu-button{
    font-size:5vw;top:86vh;left:94%;position:absolute;color:white;font-weight:bold;
  }
  .App-scroll-button{
    font-size:5vw;
  }
  .App-scroll{
    font-size:5vw;
}
}